In [1]:
import pandas as pd
import numpy as np

In [57]:
df = pd.read_csv('enrolment_1.csv')
df['status'] = 'allowed'
df

           id  year           course name   status
0     2777729     1               science  allowed
1     2777730     2               science  allowed
2     2777765     1                  arts  allowed
3     2777766     2                  arts  allowed
4     2777785     1                   mba  allowed
...       ...   ...                   ...      ...
1995  2796805     3  computer application  allowed
1996  2796812     1               nursing  allowed
1997  2796813     2               nursing  allowed
1998  2796814     3               nursing  allowed
1999  2796815     4               nursing  allowed

[2000 rows x 4 columns]

In [76]:
(df['course name'] == "information technology") & (df['year'] == 1)

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Length: 2000, dtype: bool

In [77]:
(df['course name'] == 'commerce') & (df['year'] == 4)

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Length: 2000, dtype: bool

In [79]:
df.value_counts('course name') < 4
    df['status'] == 'not allow'

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().